body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}
.square {
  background-color: yellow;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-board {
  margin: 60px;
}

.winner_line{
  color: red;
}
.new_game_button {
  padding-top: 105px;

}
.new_game_button button {
  background-color: #198b03;
  color: white;
  font-size: 18px;
}